.white {
  color: white;
}

.white-bg {
  background: white;
}

.black-bg {
  background: black;
}

.gray {
  color: $gray;
}

.blue-1 {
  color: $blue-1;
}

.blue-2 {
  color: $blue-2;
}

.blue-3 {
  color: $blue-3;
}

.blue-4 {
  color: $blue-4;
}

.light-1 {
  color: $light-1;
}

.light-2 {
  color: $light-2;
}

.light-3 {
  color: $light-3;
}

.light-4 {
  color: $light-4;
}

.blue-1-bg {
  background-color: $blue-1;
}

.blue-2-bg {
  background-color: $blue-2;
}

.blue-3-bg {
  background-color: $blue-3;
}

.blue-4-bg {
  background-color: $blue-4;
}

.light-1-bg {
  background-color: $light-1;
}

.light-2-bg {
  background-color: $light-2;
}

.light-3-bg {
  background-color: $light-3;
}

.light-4-bg {
  background-color: $light-4;
}