*,
*::after,
*::before {
  box-sizing: border-box;
}

#app {
  min-height: 100vh;

  #page {
    height: 100%;

    #content {
      height: 100%;
    }
  }
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
}

/*displays*/

.flex {
  display: flex;
}

.flex.wrap {
  flex-wrap: wrap;
}

.flex.column {
  flex-direction: column;
}

.flex.column.reverse {
  flex-direction: column-reverse;
}

.flex.row {
  flex-direction: row;
}

.flex.row.reverse {
  flex-direction: row-reverse;
}

.flex.jc-c {
  justify-content: center;
}

.flex-jc-fs {
  justify-content: flex-start;
}

.flex-jc-fe {
  justify-content: flex-end;
}

.flex.jc-sb {
  justify-content: space-between;
}

.flex.jc-se {
  justify-content: space-evenly;
}

.flex.jc-sa {
  justify-content: space-around;
}

.flex.ai-c {
  align-items: center;
}

.flex.ai-fs {
  align-items: flex-start;
}

.flex.ai-fe {
  align-items: flex-end;
}

.grid {
  display: grid;
}

/*Widts*/
.w100p {
  width: 100%;
}

.h100p {
  height: 100%;
}

@media (min-width: 1201px) {
  .desktop-w50p {
    width: 50%;
  }
}

@media (max-width: 1200px) {
  .mobile-column {
    flex-direction: column;
  }

  .mobile-column-reverse {
    flex-direction: column-reverse;
  }

  .desktop-w50p {
    width: 100%;
  }
}

/*Border Radius*/

.br-5 {
  border-radius: 5px;
}

.br-40 {
  border-radius: 40px;
}

/*---------------*/

button,
.button {
  border: none;
  background: transparent;
}

.error-box {
  background: #eb212eb3;
  width: 100%;
  border-radius: 5px;
  color: white;
  padding: 16px 32px;
}

.success-box {
  background: #26D07C;
  width: 100%;
  border-radius: 5px;
  color: white;
  padding: 16px 32px;
}

/*---------------*/
.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1760px;
}

.wrapper.w90p {
  width: 90%;
}

.wrapper.w83p {
  width: 83%;
}

.wrapper.w75p {
  width: 75%;
}

.wrapper.w69p {
  width: 69%;
}

.wrapper.w60p {
  width: 60%;
}

.wrapper.w53p {
  width: 53%;
}

.op-0_7 {
  opacity: .7;
}

.no-wrap {
  white-space: nowrap;
}

input,
.input {
  border: 1px solid $gray;

  padding: 20px 24px;
  border-radius: 10px;

  font-size: 20px;
}

input:focus,
.input:focus {
  outline: none;
}

@media (min-width: 1001px) {
  .desktop-only {
    display: block;
  }

  .desktop-only.flex {
    display: flex;
  }

  .mobile-only {
    display: none;
  }
}

@media (max-width: 1200px) {
  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: flex;
  }

  .left,
  .right {
    width: 100% !important;
    max-width: none !important;
  }

  .button {
    font-size: 16px;
  }

  // .wrapper {
  //   width: 90% !important;
  // }
}