#app:has(#login-templates) {
  background: #C4DFDF;
  padding: 50px 0;
}

#content:has(#login-templates) {
  display: flex;
  align-items: center;
  justify-content: center;
}

#login-templates {
  border-radius: 35px;
  padding: 15vh 0;
  max-width: 900px;
  width: 100%;
  margin: auto;
}

#login-templates:has(#register-view) {
  padding: 7.5vh 0;
}